In [113]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
df= pd.read_csv('Shubham_Bhole_new.csv')

In [115]:
df.head()

   D    Age  Income  Gender Marital Status Buys
0  1    <21    High    Male         Single   No
1  2    <21    High    Male        Married   No
2  3  21-35    High    Male         Single  Yes
3  4    >35  Medium    Male         Single  Yes
4  5    >35     Low  Female         Single  Yes

In [116]:
df.shape

(14, 6)

In [117]:
df.dtypes

D                  int64
Age               object
Income            object
Gender            object
Marital Status    object
Buys              object
dtype: object

In [118]:
X=df.drop(['D','Buys'], axis=1)
y=df.iloc[:,-1]

In [119]:
X.shape,y.shape

((14, 4), (14,))

In [120]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=7)

In [121]:
X_train.head()

    Age  Income  Gender Marital Status
5   >35     Low  Female        Married
0   <21    High    Male         Single
1   <21    High    Male        Married
13  >35  Medium    Male        Married
8   <21     Low  Female        Married

In [122]:
import category_encoders as ce

In [123]:
encoder=ce.OrdinalEncoder(cols=['Age',
                                'Income',
                                'Gender',
                                'Marital Status']
)

In [124]:
X_train=encoder.fit_transform(X_train)
X_test=encoder.fit_transform(X_test)

In [125]:
X_train.head()

    Age  Income  Gender  Marital Status
5     1       1       1               1
0     2       2       2               2
1     2       2       2               1
13    1       3       2               1
8     2       1       1               1

In [126]:
from sklearn.tree import DecisionTreeClassifier
d_tree=DecisionTreeClassifier(random_state=7, max_depth=2)
d_tree.fit(X_train,y_train)
pred=d_tree.predict(X_test)

In [127]:
y_pred=d_tree.predict(X_test)

In [130]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.3333333333333333

In [131]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [2, 1]], dtype=int64)