* importing libraries

In [150]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

* understanding data

In [151]:
df= pd.read_csv('Shubham_Bhole_new.csv')

In [152]:
df.head()

   D    Age  Income  Gender Marital Status Buys
0  1    <21    High    Male         Single   No
1  2    <21    High    Male        Married   No
2  3  21-35    High    Male         Single  Yes
3  4    >35  Medium    Male         Single  Yes
4  5    >35     Low  Female         Single  Yes

In [153]:
df.shape

(14, 6)

In [154]:
df.dtypes

D                  int64
Age               object
Income            object
Gender            object
Marital Status    object
Buys              object
dtype: object

In [155]:
df.describe()

             D
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

* Preprocessing
* label encoding for predicting model  for ordinal data

In [156]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df = df.apply(le.fit_transform)

In [157]:
X=df.drop(['D','Buys'], axis=1)
y=df.iloc[:,-1]

In [158]:
X.shape,y.shape

((14, 4), (14,))

* splitting data in training and testing data

In [159]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=7)

In [160]:
X_train.head()

    Age  Income  Gender  Marital Status
5     2       1       0               0
0     1       0       1               1
1     1       0       1               0
13    2       2       1               0
8     1       1       0               0

* using Descision tree we builded model

In [161]:
from sklearn.tree import DecisionTreeClassifier
d_tree=DecisionTreeClassifier(random_state=7, max_depth=2)
d_tree.fit(X_train,y_train)
pred=d_tree.predict(X_test)

* predicting model

In [148]:
y_pred=d_tree.predict(X_test)

In [149]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.3333333333333333

In [143]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [2, 1]], dtype=int64)

using Descision tree i got 1/3 rd percentage  accuracy the  model is not good beacause of data is less. we have nort more time to exam otherwise i will try to oversampling and undersampling then use descision tree model 

Root Node for the decision tree is 'Age'